.button {
    display: inline-block;
    padding: 13px 13px;
    font-size: 18px;
    color: $white;
    font-weight: bold;
    text-decoration: none;
    border: solid 3px $white;
    border-radius: 40px;
    &:hover {
        background-color: $white;
        color: $red;
    }
    &:active {
        color: rgba($red, 0.3);
    }
}