.contacts {
    position: absolute;
    width: 100%;
    top: auto;
    left: auto;
    padding-top: 50px;
    padding-bottom: 35px;
    text-align: center;
    background-color: $white;

    &__title {
        margin: 0;
        margin-bottom: $paddingM4;
        text-align: center;
        font-weight: 300;
        font-size: $fontL;
    }
    &__label {
        margin-bottom: $paddingM3;
    }
    &__wrapper {
        margin-bottom: -30px;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        background: url(../img/bg-triangle-white-footer.svg) 0 0 no-repeat;
        background-size: contain;
        background-color: transparent;
        width: 100%;
        bottom: -64px;
        height: 65px;
    }
}
@media (min-width: $tablet) {
    .contacts {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-left: $paddingM5;
            padding-right: $paddingM5;
        }
        &__title {
            font-size: $fontXL;
            line-height: normal;
        }
        &__label {
            display: inline-block;
            margin-bottom: $paddingT;
        }
        &::after {
            bottom: -80px;
            height: 80px;
            background-size: 100% 80px;
        }
    }
}
@media (min-width: $desktop) {
    .contacts {
        &__title {
            font-size: $fontXXL;
        }
        &::after {
            background-size: 100% 120px;
            bottom: -123px;
            height: 120px;
        }
        &__label {
            margin-bottom: 0;
            &--adress {
                order: 1;
            }
            &--phone {
                order: 0;
            }
            &--mail {
                order: 3;
            }
        }
    }
}
