@media (min-width: $tablet) {
    .container {
        position: relative;
        width: 620px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: $desktop) {
    .container {
        width: 940px;
        margin-left: auto;
        margin-right: auto;
    }
}