.container {
  position: relative;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet) {
  .container {
    width: 620px;
  }
}

@media (min-width: $desktop) {
  .container {
    width: 940px;
  }
}
