.download {
    position: relative;

    &__button {
    min-width: 249px;
    display: block;
}
    &__phone {
    padding-top: 20px;
    min-height: 374px;
    background: url(../../img/iphone-hand-mobile@1x.png) 0% 100% no-repeat;
}
    &__list {
    background-color: #1d2631;
    text-align: center;
}
    &__description {
    display: inline-block;
    margin-top: 17px;
    font-size: $Sfont;
    font-weight: 300;
    color: $white;
}
    &__title {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
    &__wrapper {
    width: $mobile;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
}
@media (min-width: $tablet) {
    .download {
        padding-top: 40px;
    
    &__phone {
        min-height: 545px;
        background: url(../../img/iphone-hand-tablet@1x.png) 50% 0 no-repeat;
    }
    &__title {
        margin-right: 0;
        margin-left: 0;
        padding-top: 19px;
        padding-left: 76px;
        font-size: 40px;
        line-height: 48px;
        width: 186px;
        line-height: normal;
    }
    &__list {
        position: absolute;
        padding-left: 11px;
        top: 240px;
        width: 320px;
        background-color: transparent;
    }
    &__button {
        min-width: 270px;
    }
    &__description {
        padding-top: 32px;
        padding-left: 2px;
        padding-bottom: 10px;
        font-size: 18px;
    }
}
}
@media (min-width: $desktop) {
    .download__phone {
        min-height: 662px;
        background: url(../../img/iphone-hand-desktop@1x.png) 97% 100% no-repeat;
    }
    .download__title {
        padding-top: 27px;
        padding-left: 160px;
        font-size: 50px;
        line-height: 60px;
        width: auto;
    }
    .download__list {
        top: 311px;
        left: 108px;
    }
    .download__description {
        padding-top: 51px;
    }
}