.effect {
    &__wrapper {
        display: flex;
        padding-top: $paddingT;
        padding-left: $paddingM2;
        width: $tablet;
        margin-left: auto;
        margin-right: auto;
        }
    &__description {
        width: 300px;
        padding-top: $paddingM3;
        margin-right: 15px;
        }
    &__clock  {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 238px;
        height: 276px;
        padding-top: 37px;
        margin-right: $paddingT2;
        background: url(../img/icon-timer.svg) 0 0 no-repeat;
        background-size: cover;
        }
    &__number {
        height: 194px;
        padding: 30px;
        line-height: 1;
        font-size: 96px;
        font-weight: bold;
        color: $red;
        border: 14px solid $red;
        border-radius: 50%;
    }
    &__title {
        margin: 0;
        font-weight: bold;
        font-size: $fontXM;
        line-height: normal;
        color: $black;
    }
    &__text {
        font-size: $fontS;
        margin-top: $paddingM;
        margin-bottom: $paddingM;
    }
    &__link {
        font-size: $fontS;
        color: $red;
    }
}
@media (min-width: $desktop) {
    .effect {
        background-color: $gray;
        margin-bottom: $paddingT2;
        &__wrapper {
            width: $desktop;
            padding-left: 7px;
            padding-bottom: $paddingT2;
            padding-top: $paddingM3;
        }
        &__clock {
            width: 298px;
            height: 345px;
            background-size: 298px auto;
            padding-top: 45px;
        }
        &__number {
            font-size: 120px;
            border: 15px solid $red;
            height: 235px;
            padding: 35px;
        }
        &__text {
            font-size: $fontM;
            margin-top: $paddingM2;
            margin-bottom: $paddingM3;
            line-height: 30px;
            & br {
                display: none;
            }
        }
        &__description {
            width: 530px;
            padding-top: 15px;
            margin-top: $paddingT2;
        }
        &__title br {
            display: none;
        }
        &__link {
            font-size: $fontM;
        }
    }
}
@media (max-width: $mobileOnly) {
    .effect {
        display: none;
    }
}
