.features {
    position: relative;
    &__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 139px;
        margin: 0;
        margin-top: $paddingM4;
        margin-bottom: 35px;
        font-size: $fontL;
        font-weight: 300;
        text-align: center;
        line-height: 27px;
    }
    &__head-text {
        width: 202px;
    }
    &__main {
        position: relative;
        padding-top: 80px;
        background-color: $gray;
        z-index: 1;
        overflow: hidden;
    }
    &__list {
        @include reset-list;
        padding-bottom: $paddingM;
    }
    &__item {
        margin-bottom: $paddingM3;
    }
    &__main::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 150px;
        top: 0;
        left: auto;
        background: url(../img/bg-triangle-white.svg) 0 0 no-repeat;
        background-size: contain;
        z-index: -1;
    }
    &__title {
        display: inherit;
        font-size: $fontM;
        font-weight: bold;
        text-align: center;
        color: $black;
        margin-bottom: $paddingM;
    }
    &__text {
        font-size: $fontS;
        text-align: center;
        margin: 0;
    }
    &__phone {
        min-height: 277px;
        background: url(../img/iphone-screen-mobile@1x.png) 50% 0% no-repeat;
        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
            background: url(../img/iphone-screen-mobile@2x.png) 50% 0% no-repeat;
            background-size: 157px auto;
    }
        background-color: $gray;
    }
    &__wrapper {
        position: relative;
        width: $mobile;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: $tablet) {
    .features {
        &__head  {
            font-size: $fontXL;
            font-weight: 300;
            justify-content: space-around;
            line-height: normal;
        }
        &__head-text {
            width: 590px;
            &:last-child {
                width: 340px;
            }
        }
        &__phone {
            width: 268px;
            height: 481px;
            margin-top: -60px;
            background: url(../img/iphone-screen-3-tablet@1x.png) 50% 0% no-repeat;
            @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
                background: url(../img/iphone-screen-3-tablet@2x.png) 50% 0% no-repeat;
                background-size: 268px auto;
            }
        }
        &__title {
            text-align: left;
        }
        &__text {
            text-align: left;
        }
        &__list {
            margin-right: 20px;
            width: 310px;
        }
        &__wrapper {
            width: $tablet;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-left: $paddingM2;
        }
    }
}
@media (min-width: $desktop) {
    .features {
        &__head {
            font-size: $fontXXL;
            margin-bottom: $paddingT;
            &-text {
                width: 740px;
            }
            &-text:last-child {
                width: 430px;
            }
        }
        &__main::before {
            background-size: 100% 100px;
        }
        &__wrapper {
            width: $desktop;
            display: block;
        }
        &__phone {
            display: none;
        }
        &__list {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding-left: 165px;
            padding-right: 165px;
            margin-top: 270px;
        }
        &__item {
            position: relative;
            width: 240px;
            &::before {
                content: "";
                position: absolute;
                top: -352px;
                left: -20px;
                display: block;
                width: 292px;
                height: 302px;
            }
            &:first-child::before {
                background: url(../img/iphone-screen-1-desktop@1x.png) 0 0 no-repeat;
                @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
                    background: url(../img/iphone-screen-1-desktop@2x.png) 0 0 no-repeat;
                    background-size: 292px auto;
                }
            }
            &:nth-child(2)::before {
                background: url(../img/iphone-screen-2-desktop@1x.png) 0 0 no-repeat;
                @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
                    background: url(../img/iphone-screen-2-desktop@2x.png) 0 0 no-repeat;
                    background-size: 292px auto;
                }
            }
            &:last-child::before {
                background: url(../img/iphone-screen-3-desktop@1x.png) 0 0 no-repeat;
                @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
                    background: url(../img/iphone-screen-3-desktop@2x.png) 0 0 no-repeat;
                    background-size: 292px auto;
                }
            }
        }
        &__title {
            font-size: $fontXM;
            text-align: center;
            line-height: 30px;
            margin-bottom: $paddingM3;
        }
        &__text {
            font-size: $fontS2;
            text-align: center;
            line-height: 30px;
        }
    }
}
