.footer {
    position: relative;
    &__map {
        width: 100%;
        min-width: $mobile;
        height: 230px;
        margin-top: 380px;
        border: none;
    }
    &__logo {
        margin-bottom: $paddingM4;
    }
    &__socials {
        @include reset-list;
        display: flex;
        margin-bottom: $paddingM4;
        margin-right: -17px;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        border: 3px solid rgba($dark, 0.1);
        border-radius: 50%;
        margin-right: 17px;
        &:hover {
            border: 3px solid $dark;
        }
        &:active {
            opacity: 0.1;
        }
    }
    &__twitter {
        display: block;
        width: 19px;
        height: 15px;
        background: url(../img/icon-twitter.svg) 0 0 no-repeat;
    }
    &__facebook {
        display: block;
        width: 9px;
        height: 19px;
        background: url(../img/icon-facebook.svg) 0 0 no-repeat;
    }
    &__youtube {
        display: block;
        width: 15px;
        height: 14px;
        background: url(../img/icon-youtube.svg) 0 0 no-repeat;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $paddingM4;
        padding-bottom: $paddingM4;
    }
    &__contacts--index {
        display: none;
    }
}
@media (min-width: $tablet) {
    .footer {
        &__map {
            height: 390px;
            margin-top: 400px;
        }
        &__contacts {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            padding-top: 35px;
        }
        &__logo {
            margin-bottom: 0;
            margin-top: -10px;
        }
        &__socials {
            margin-bottom: 0;
            margin-left: -15px;
        }
    }
}
@media (min-width: $desktop) {
    .footer {
        &__map {
            margin-top: 330px;
            height: 540px;
        }
        &__contacts {
            padding-top: $paddingT2;
        }
        &__socials {
            margin-left: 0;
        }
    }
}