.form {
    &__fieldset {
        border: none;
        padding: 0;
        margin: 0;
        padding-left: $paddingM2;
    }
    &__container {
        position: relative;
        width: $mobile;
        margin-left: auto;
        margin-right: auto;
    }
    &__wrapper {
        background-color: $gray;
    }
    &__input--text {
        width: 276px;
        height: 60px;
        padding: 20px;
        border: 2px solid $gray2;
        &:hover {
            border: 2px solid $dark;
            outline: none;
        }
        &:focus {
            border: 2px solid $red;
            outline: none;
        }
        &::placeholder {
            color: $dark;
        }
    }
    &__label--text {
        position: relative;
        display: block;
        margin-left: $paddingM2;
        margin-bottom: $paddingM;
        font-size: $fontS;
        color: $red;
        text-transform: uppercase;
        line-height: 1;
    }
    &__item {
        margin-bottom: $paddingM3;
    }
    &__legend {
        padding-top: $paddingM4;
        color: $red;
        font-size: $fontS;
        text-align: center;
        text-transform: uppercase;
        line-height: 18px;
        &--phone {
            display: none;
        }
    }
    &__list {
        @include reset-list;
        padding-top: $paddingM4;
        padding-bottom: $paddingM4;
        margin-bottom: -47px;
        &-item {
            position: relative;
            min-height: 39px;
            padding-left: 70px;
            padding-top: 7px;
            margin-bottom: 47px;
    }
    }
    &__input--checkbox {
        position: absolute;
        appearance: none;
    }
    &__checkbox {
        display: block;
        position: absolute;
        left: 0px;
        top: 0;
        width: 35px;
        height: 35px;
        background-color: $white;
        border: 2px solid $gray2;
    }
    &__input--checkbox:checked + .form__checkbox {
        background: url(../img/icon-yes.svg) 50% 50% no-repeat;
        background-color: $white;
    }
    &__input--checkbox:hover + .form__checkbox,
    &__input--checkbox:focus + .form__checkbox {
        border: 2px solid $dark;
        background-color: $white;
    }
    &__input--checkbox:active + .form__checkbox {
        border: 2px solid $red;
        background-color: $white;
    }
    &__contacts {
        padding-top: $paddingM4;
    }
    &__input--radio {
        position: absolute;
        appearance: none;
    }
    &__radiobox {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 36px;
        height: 36px;
        background-color: $white;
        border: 2px solid $gray2;
        border-radius: 50%;
    }
    &__input--radio:checked + .form__radiobox::before {
        content: "";
        display: block;
        position: absolute;
        left: 8.5px;
        top: 8.5px;
        width: 15px;
        height: 15px;
        background-color: $red;
        border-radius: 50%;
    }
    &__input--radio:hover + .form__radiobox,
    &__input--radio:focus + .form__radiobox {
        border: 2px solid $dark;
        background-color: $white;
    }
    &__input--radio:active + .form__radiobox {
        border: 2px solid $red;
        background-color: $white;
    }
    &__textarea {
        width: 280px;
        height: 201px;
        resize: none;
        border: 2px solid $gray2;
        padding: $paddingM2;
        margin-top: $paddingM2;
        margin-bottom: $paddingM4;
        color: $dark;
        line-height: 30px;
        &:hover {
            border: 2px solid $dark;
        }
        &:focus {
            border: 2px solid $red;
            outline: none;
        }
        &::placeholder {
            color: $dark;
        }
    }
    &__not {
        display: inline-block;
        width: 100%;
        text-align: center;
        font-size: $fontS;
        text-transform: uppercase;
        & b {
            color: $red;
        }
        & span {
            display: none;
        }
    }
    &__button {
        display: block;
        min-width: 280px;
        min-height: 63px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $paddingM4;
    }
}
@media (min-width: $tablet) {
    .form {
        &__container {
            width: 100%;
            margin: 0;
            margin-bottom: $paddingT;
        }
        &__wrapper {
            background-color: $white;
        }
        &__block {
            &-container {
                width: $tablet;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;
            }
            &-name {
                order: 1;
            }
            &-os {
                order: 2;
            }
            &-phone {
                order: 3;
            }
            &-achievements {
                order: 4;
            }
        }
        &__list {
            padding-top: 0;
        }
        &__item {
            &--phone {
            display: flex;
            flex-direction: column-reverse;
            }
        }
        &__label {
            &--text {
                display: inline-block;
                margin: 0;
                margin-right: $paddingM;
                margin-top: $paddingM2;
                width: max-content;
            }
            &--phone {
                margin-left: $paddingM2;
            }
        }
        &__input {
            &--text {
                width: 521px;
            }
            &--name {
                width: 561px;
            }
            &-wrapper {
                position: relative;
                width: 496px;
                display: flex;
            }
            &--phone {
                width: 100%;
                padding-right: 56px;
            }
        }
        &__icon {
            position: absolute;
            right: 2px;
            top: 2px;
            width: 56px;
            height: 56px;
            background-color: $gray2;
            pointer-events: none;
            &--phone::before {
                content: "";
                position: absolute;
                right: 18px;
                top: 18px;
                width: 20px;
                height: 20px;
                background: url(../img/icon-phone.svg) 0 0 no-repeat;
            }
            &--email::before {
                content: "";
                position: absolute;
                right: 18px;
                top: 18px;
                width: 20px;
                height: 20px;
                background: url(../img/icon-mail.svg) 0 0 no-repeat;
            }
        }
        &__legend {
            padding: 0;
            padding-left: 25px;
            padding-right: 25px;
            &--phone {
                display: inline;
            }
            & br {
                display: none;
            }
        }
        &__fieldset {
            padding-left: 0;
            margin-left: $paddingM2;
            margin-right: $paddingM2;
            &--frame {
                border: 2px solid $gray2;
                padding-left: $paddingT;
                padding-top: $paddingM5;
            }
        }
        &__contacts .form__item{
            display: flex;
            flex-direction: column-reverse;
        }
        &__textarea {
            width: 496px;
            height: 189px;
            margin-top: 0;
        }
        &__button {
            margin: 0;
            &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: $paddingT2;
            padding-bottom: $paddingM3;
            padding-left: $paddingM2;
            padding-right: $paddingM2;
            }
        }
        &__not {
            width: auto;
        }
    }
}
@media (min-width: $desktop) {
    .form {
        &__fieldset {
            margin-left: 0;
            margin-right: 0;
            &--frame {
                padding-left: $paddingT;
            }
            &--os {
                padding-left: $paddingD2;
            }
            &--phone {
                display: flex;
            }
            &--textarea {
                width: 936px;
                height: 213px;
                margin-left: auto;
                margin-right: auto;
                padding-top: $paddingM3;
            }
        }
        &__block {
            &-container {
                width: $desktop;
                flex-direction: row;
                flex-wrap: wrap;
                padding-left: $paddingD;
                padding-right: $paddingD;
            }
            &-name {
                margin-right: 69px;
                margin-bottom: -70px;
                & .form__item {
                    margin-bottom: $paddingT2;
                }
            }
            &-phone {
                width: 936px;
            }
            &-achievements {
                width: 936px;
            }
        }
        &__block-achievements { 
            & .form__list {
                display: flex;
                flex-wrap: wrap;
            }
            & .form__list-item {
                width: 290px;
            }
        }
        &__input {
            width: 336px;
            &--name {
                width: 376px;
            }
            &-wrapper {
                width: 371px;
            }
            &--phone {
                width: 100%;
            }
        }
        &__item {
            &--phone {
                margin-right: $paddingD2;
            }
        }
        &__phone-wrapper {
            display: flex;
            margin-right: -75px;
        }
        &__textarea {
            width: 816px;
            height: 124px;
        }
        &__button-container {
            width: 1200px;
            padding-left: $paddingD;
            padding-right: $paddingD;
        }
        &__not {
            & span {
                display: inline;
            }
        }
    }
}
