.main {
    &__description {
        margin-left: auto;
        margin-right: auto;
        margin-top: $paddingM5;
        margin-bottom: $paddingM5;
        font-size: $fontS;
        text-align: center;
        line-height: $lineheightL;
        &--bottom {
            margin-bottom: $paddingT;
        }
    }
    &__text-desktop {
        display: none;
    }
}
@media (min-width: $tablet) {
    .main {
        &__description {
            font-size: $fontM;
            margin-top: 90px;
            margin-bottom: 80px;
            & .mobile-br {
                display: none;
            }
            &--bottom {
                margin-top: 68px;
                margin-bottom: 66px;
            }
        }
        &__text-desktop {
            display: inline;
        }
    }
}
@media (min-width: $desktop) {
    .main {
        &__description {
            margin-bottom: 90px;
            & .tablet-br {
                display: none;
            }
            & .mobile-br {
                display: inline;
            }
            &--bottom {
                margin-top: $paddingT;
                margin-bottom: $paddingT;
            }
        }
    }
}