.photo {

    &__slogan {
        margin-bottom: $paddingM5;
        margin-left: auto;
        margin-right: auto;
        margin-top: $paddingM5;
        width: 260px;
        text-align: center;
        font-size: $fontS;
        line-height: $lineheightL;
    }
}