.photo-list {
    @include reset-list;
    text-align: center;

    &__item {
        display: inline-block;
    }
    &__item:not(:last-child) {
        margin-bottom: 20px;
    }
    &__comments-section {
        width: 280px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 17px;
        background-color: $gray;
        text-align: left;
        
    }
    &__author {
        font-weight: bold;
        font-size: $fontS;
    }
    &__time {
        font-weight: 300;
        font-size: $fontXS;
        text-transform: uppercase;
    }
    &__comment {
        margin: 0;
        margin-bottom: 20px;
        font-size: $fontS;
    }
    &__stats {
        display: flex;
        align-items: center;
    }
    &__button {
        display: flex;
        background-color: transparent;
        padding: 0;
        border: none;
        width: 13px;
        height: 12px;
        margin-right: 20px;
    }
    &__button svg {
        fill: $red;
    }
    &__likes-number {
        text-transform: uppercase;
        font-size: $fontXS;
        color: $red;
    }
}