.photo-list {
    @include reset-list;
    text-align: center;

    &__item {
        display: inline-block;
        position: relative;
    }
    &__item:not(:last-child) {
        margin-bottom: 20px;
    }
    &__item--panorama .photo-list__comments-section {
        margin-right: auto;
        margin-left: auto;
    }
    &__announcment {
        position: absolute;
        top: 0;
        left: 160px;
        width: 140px;
        height: 36px;
        background-color: $red;
        color: $white;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 5px;
    }
    &__comments-section {
        width: 280px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 17px;
        background-color: $gray;
        text-align: left;
    }
    &__link picture {
        display: flex;
    }
    &__author {
        font-weight: bold;
        font-size: $fontS;
    }
    &__time {
        font-weight: 300;
        font-size: $fontXS;
        text-transform: uppercase;
    }
    &__comment {
        margin: 0;
        margin-bottom: 20px;
        font-size: $fontS;
    }
    &__stats {
        display: flex;
        align-items: center;
    }
    &__button {
        display: block;
        background-color: transparent;
        background: url(../img/icon-heart.svg) 0 0 no-repeat;
        padding: 0;
        border: none;
        width: 13px;
        height: 12px;
        margin-right: 20px;
        cursor: pointer;
    }
    &__likes-number {
        text-transform: uppercase;
        font-size: $fontXS;
        color: $red;
        line-height: 1;
    }
}