.reviews {
    position: relative;
    padding-top: $paddingM5;
    padding-bottom: $paddingM3;
    &__slider {
        padding-bottom: 55px;
    }
    &__list {
        @include reset-list;
    }
    &__title {
        margin: 0;
        margin-bottom: $paddingM2;
        font-size: $fontM;
        color: $black;
        font-weight: bold;
    }
    &__text {
        margin: 0;
        font-size: $fontS;
        text-align: center;
        line-height: $lineheightL;
    }
    &__item {
        text-align: center;
        padding: 0 22px;
    }
    &__toggles {
        margin-left: -29px;
        position: absolute;
        left: 50%;
        bottom: 15px;
    }
}
