.user-photo {
    background-color: $gray;

    &__form {
        text-align: center;
    }
    &__photo {
        margin-bottom: $paddingM4;
        width: 280px;
        height: 374px;
    }
    &__filter {
        padding-bottom: $paddingM;
        margin-bottom: $paddingM2;
    }
    &__filter-buttons {
        display: flex;
        justify-content: space-around;
        padding-left: $paddingM5;
        padding-right: $paddingM5;
    }
    &__button {
        background-color: transparent;
        border: 0;
        padding: 0;
        opacity: 0.3;
        color: $dark;
        &:hover:not(.user-photo__button-active) {
            opacity: 0.5;
        }
    }
    &__button-active {
        opacity: 1;
        color: $red;
    }
    &__label:not(.user-photo__label-active) {
        display: none;
    }
    &__label svg {
        display: none;
    }
    &__range {
        -webkit-appearance: none;
        width: 240px;
        height: 2px;
        background: $black;
    }
    &__range::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 13px;
        height: 13px;
        background-color: $gray;
        border-radius: 50%;
        border: 2px solid $red;
        &:active {
            background-color: $red;
        }
    }
    &__range::-moz-range-thumb {
        width: 13px;
        height: 13px;
        background-color: $gray;
        border-radius: 50%;
        border: 2px solid $red;
        &:active {
            background-color: $red;
        }
    }
    &__range::-ms-thumb {
        width: 13px;
        height: 13px;
        background-color: $gray;
        border-radius: 50%;
        border: 2px solid $red;
        &:active {
            background-color: $red;
        }
    }
    &__buttons {
        padding-top: $paddingM4;
        padding-bottom: $paddingM4;
        text-align: center;
    }
    &__form-button:not(:last-child) {
        margin-bottom: $paddingM;
    }
    &__form-button {
        min-width: 280px;
    }
    &__wrapper:first-child::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $dark;
        opacity: 0.1;
    }
}
@media (min-width: $tablet) {
    .user-photo {
        position: relative;
        &__photo {
            width: 300px;
            height: 400px;
        }
        &__form {
            display: flex;
            justify-content: space-between;
            padding-left: $paddingM2;
            padding-right: $paddingM2;
            padding-top: $paddingT;
        }
        &__label:not(.user-photo__label-active) {
            display: flex;
        }
        &__label {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 70px;
            padding-top: 27px;
        }
        &__label::after {
            content: "";
            position: absolute;
            bottom: -15px;
            display: block;
            width: 275px;
            height: 1px;
            background-color: $dark;
            opacity: 0.1;
        }
        &__label svg {
            display: inline-block;
            color: $red;
        }
        &__filter-buttons {
            display: none;
        }
        &__range {
            margin-left: $paddingM3;
            width: 202px;
        }
        &__buttons {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 3px;
            right: 13px;
            width: 260px;
        }
        &__form-button {
            min-width: 260px;
        }
        &__form-button:not(:last-child) {
            margin-bottom: 25px;
        }
    }
}