$white: #ffffff;
$black: #000000;
$dark: #283645;
$red: #d22856;
$orange: #f25b26;
$green: #3dc644;
$lightgreen: #2aab6d;
$gray: #f2f2f2;
$gray2: #e5e5e5;
$darkgrey: #dedede;
$lightgrey:#efefef;
$greywhite: #fefefe;
$Mfont: 18px;
$Lfont: 24px;
$Sfont: 14px;
$linehight: 24px;
$mobile: 320px;
$tablet: 660px;
$desktop: 1200px;