$white: #ffffff;
$black: #000000;
$dark: #283645;
$red: #d22856;
$orange: #f25b26;
$green: #3dc644;
$green2: #2aab6d;
$green3: #1c9b5e;
$gray: #f2f2f2;
$gray2: #e5e5e5;
$darkgrey: #dedede;
$lightgrey:#efefef;
$graywhite: #fefefe;
$fontM: 18px;
$fontM2: 20px;
$fontL: 24px;
$fontS: 14px;
$fontXS: 12px;
$fontXM: 30px;
$fontXL: 40px;
$fontXXL: 50px;
$lineheight: 24px;
$lineheightL:30px;
$mobile: 320px;
$mobileOnly: 659px;
$tablet: 660px;
$desktop: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$paddingM: 10px;
$paddingM2: 20px;
$paddingM3: 30px;
$paddingM4: 40px;
$paddingM5: 50px;
$paddingT: 60px;
$paddingT2: 70px;
$paddingT3: 80px;
$paddingT4: 90px;
$paddingD: 130px;
$paddingD2: 75px;
$paddingD3: 100px;
